@CHARSET "UTF-8";

*{
	margin:0;
	padding:0;
}
header{
	width : 100%;
	height : 80px;
	background-color : #005392;
	min-width : 1073px;
}
#header-title{
	float : left;
	height : 30px;
	margin-top : 25px;
	margin-left : 25px;
	width : 6%;
	font-familly : 'Vidaloka', serif;
	color : #ffffff;
	font-size : 25px;
}
#header-list{
	float : left;
	margin-top : 25px;
	margin-right : 20px;
	width : 80%;
}
#header-list li {
	float : left;
	list-style : none;
	padding-right : 1%;
	color : white;
	font-size : 12px;
}
#txt-keywords{
	height : 20px;
	border : 1px solid #3498db;
	border-radius : 100px;
}
#categoryId{
	height : 20px;
}
h1{
	margin:10px 20px 0px 20px;
	padding:20px 0px;
	text-align:center;
	border-top:5px solid #005392;
	border-bottom:5px solid #005392;
	color:#005392;
}
table{
	border-spacing:0px;
}
tr{
	line-height:40px;
}
th{
	background:#005392;
	color:white;
	text-align:center;
	border:1px solid #ccc;
	font-weight:400px;
}
td{
	border:1px solid #ccc;
	padding-left:10px;
}
#item_box{
	border-spacing:0px;
	margin: 10px auto;
}
#item_box tr{
	line-height:40px;
}
#item_box th{
	background:#005392;
	color:white;
	text-align:center;
	border:1px solid #ccc;
	font-weight:400px;
	padding : 0 10px;
}
#item_box td{
	border:1px solid #ccc;
/* 	padding-left:10px; */
	padding : 8px 10px 0;
}
.btn{
    border-radius:100px;
    width:100px;
	height : 35px;
    font-size:10px;
    text-align:center;
    color:#fff;
    background: #4b7ea1;
}
.submit_btn_box{
	width : 45%;
	display : block;
	margin-top : 5px;
	margin-bottom : 5px;
	margin-left : 3%;
	padding-left : 42%;
	float : left;
}
.select_box{
	border: 1px solid;
	margin: 10px auto;
	padding:15px 0px;
	font-size : 0.8em;
	width : 84%;
	color: #00529B;
	background-color: #BDE5F8;
	text-align:center;
}
.error_box {
	border: 1px solid;
	margin: 10px auto;
	padding:15px 0px;
	font-size : 0.8em;
	width : 84%;
	color: #D8000C;
	background-color: #FFBABA;
	text-align:center;
}
.complete_box {
	border: 1px solid;
	margin: 10px auto;
	padding:15px 0px;
	font-size : 0.8em;
	width : 84%;
	color: #4F8A10;
	background-color: #DFF2BF;
	text-align:center;
}